.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* ================================= */

.filterForm {
  background-color:#cccccc;
  border-radius:8px;
  margin-top:20px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:0;
  padding-bottom:18px;
}
.searchInput {
  width:calc(100% - 200px);
  box-sizing: border-box;
  padding:8px;
  border-radius:4px;
  border:none;
  display:inline-block;
  vertical-align: top;
  margin-right:10px;
}
.listTable {
  border:1px solid red;
  background-color:#eeeeee;
  border-radius:8px;
  overflow: hidden;
  width:100%;
  box-sizing: border-box;
}
.listRow {
  border-bottom:1px solid gray;
}

.listCell {
  padding:4px;
  padding-left:8px;
}

.btn {
  margin-left:4px;
}
.headerRow {
background-color:#999999;

}
.headerRow td {
  padding:4px;
  padding-left:6px;
  background-color:#cccccc;
  border:1px solid black;
  cursor: pointer;
  user-select: none;
}
.headerRow td:hover {
  padding:4px;
  padding-left:6px;
  background-color:#ffffff;
  border:1px solid black;
  cursor: pointer;
}



.filterTitle {
  font-size:18px;
  font-weight: 500;
}

.listTitle {
  font-size:22px;
  font-weight:500;
  display:inline-block;
  margin-right:18px;
  margin-top:18px;
}

.listSubTitle {
  font-size:16px;
  font-weight: 500;
  display:inline-block;
}

form {
  padding-top:0;
}
/* ================================= */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
