.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* ================================= */

.listTable {
  border:1px solid red;
  background-color:#eeeeee;
  border-radius:8px;
  overflow: hidden;
  width:100%;
  box-sizing: border-box;
}
.listRow {
  border-bottom:1px solid gray;
}

.listCell {
  padding:4px;
}

.headerRow {

}
.headerRow td {
  padding:4px;
}

h1, h2, h3, h4, h5, h6 {
  color:black;
}

h1 {
  font-size:22px;
  margin:0;
  line-height:1em;
  font-weight:700;
}
h2 {
  font-size:18px;
  font-weight:500;
}

form {
  padding-top:0;
}
/* ================================= */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
